<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Forgot Password</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="register">
			<h1>Forgot Password</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
			</div>
			<form action="{{ url_for('forgotpassword') }}" method="post" autocomplete="off">
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
                <input type="email" name="email" placeholder="Email" id="email" >
				<div class="msg" id = "serverMsg"><p style='color: red;'>{{ msg }}</p></div>
				<input type="submit" value="Send" >
			</form>
		</div>
    </body>
   
</html>